<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878213494525-0rs37jjgfa8aavpb1cotr7q29qcjb41t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878213494525-0rs37jjgfa8aavpb1cotr7q29qcjb41t</string>
	<key>API_KEY</key>
	<string>AIzaSyAPIGpPdYhZrJ5rQho7_Ktj7q_5RXUHH9g</string>
	<key>GCM_SENDER_ID</key>
	<string>878213494525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covidapp</string>
	<key>PROJECT_ID</key>
	<string>covidapp-b8243</string>
	<key>STORAGE_BUCKET</key>
	<string>covidapp-b8243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878213494525:ios:e9bf0eeaf21fb484f8f094</string>
	<key>DATABASE_URL</key>
	<string>https://covidapp-b8243.firebaseio.com</string>
</dict>
</plist>